.timer-control { 
    margin: 10px auto 0 auto;
    max-width: 330px;
    background-color: lightblue;
    border: 2px solid black;

    .timer {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
    }
    .timer-buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;

        button {
            margin: 2px;
        }
    }
}