.end-players {
    ul {
        list-style: none;
        padding: 0;
        border: 2px solid black;
    }
    li {
        background-color: lightblue;
        padding: 5px;
    }
    li:nth-child(even) {
        background-color: azure;
    }
}