.player-control {
    ul {
        list-style: none;
        padding: 0;
    }
    li {
        background-color: wheat;
        border-radius: 5px;
        margin: 10px auto;
        padding: 5px;
    }

    button {
        margin: 2px;
    }
}

.name-control {
    input {
        margin: 10px auto;
    }
}

.question-control {
    font-size: 1.2vh;

    button {
        margin: 10px 2px;
    }

    mat-card {
        display: flex;
        height: 250px;
        align-items: center;
        justify-content: center;
    }
}