h4 {
    font-size: 2rem;
}

.player-control {
    padding-top: 10px;
    
    ul {
        list-style: none;
        padding: 0;
        border: 2px solid black;
    }
    ul:empty {
        border: none;
    }
    li {
        background-color: lightblue;
        padding: 5px;
    }
    li:nth-child(even) {
        background-color: azure;
    }

    button {
        margin: 2px;
    }
}

.name-control {
    input {
        margin: 10px auto;
    }
}

.question-control {
    font-size: 1rem;

    button {
        margin: 10px 2px;
    }

    mat-card {
        border: 2px solid black;
        border-radius: 0;
        display: flex;
        height: 300px;
        align-items: center;
        justify-content: center;
    }
}