<h4>Enter the participant's name to begin</h4>
<div class="name-control">
    <input placeholder="Name" [(ngModel)]="currentPlayerName" [disabled]="hasQuestion()">
</div>
<div class="question-control">
    <button mat-button (click)="changeQuestion()" [disabled]="currentPlayerName === '' || getNumQuestions() <= 0 || isTimerOn()">{{hasQuestion() ? "Change Question" : "Reveal Question"}}</button>
    <button mat-button *ngIf="hasQuestion()" (click)="removeQuestion()" [disabled]="isTimerOn() || getNumQuestions() <= 1">{{ getNumQuestions() > 1 ? "Remove Question From Game" : "No Questions to Remove"}}</button>
    <mat-card [@openCloseQuestion]="hasQuestion() ? 'open' : 'closed'">
        <h1>
            {{hasQuestion() ? getCurrentQuestion() : 'Your question will be displayed here.'}}
        </h1>
    </mat-card>
</div>
<app-timer></app-timer>
<div class="player-control">
    <button mat-button (click)="setupNewPlayer()" [disabled]="!hasQuestion() || isTimerOn()">New Participant</button>
    <button mat-button (click)="finish()" [disabled]="isTimerOn() || !hasPlayers()">Finish</button>
    <ul>
        <li *ngFor="let player of gameService.players; index as i;">
            <h2>{{player.name}}</h2>
            <p>{{player.question.question}}</p>
            <h4 *ngIf="player.time !== '00:00:00'">{{player.time}}</h4>
        </li>
    </ul>
</div>