<h4>Enter the participant's name to begin</h4>
<input matInput placeholder="Participant's name" [(ngModel)]="name" [disabled]="hasQuestion()">
<div class="timer">{{currentTimeString}}</div>
<button (click)="showQuestion()" [disabled]="name === ''">{{hasQuestion() ? "Change Question" : "Reveal Question"}}</button>
<button (click)="toggleTimer()" [disabled]="name === '' || !hasQuestion()">{{isTimerOn() ? "Stop Timer" : "Start Timer"}}</button>
<button (click)="newPlayer()" [disabled]="name === '' || !hasQuestion()">New Participant</button>
<button (click)="finish()" [disabled]="name === ''">Finish</button>
<div *ngIf="hasQuestion()">{{currentQuestionObj.question}}</div>
<div>
    Previous participants will go here.
</div>